:root {
  --primary-light: #f1edfd;
  --primary-light-hover: #eae4fc;
  --Grey: #4d4959;
  --primary-normal-active: #5e3eba;
  --light-grey: #f1edfd;
  --lighter-grey: #f4f3f6;
}

.side--nav {
  display: flex;
  width: 80px;
  padding: 24px 15px;
  flex-direction: column;
  align-items: flex-start;
  height: 148.4dvh;
  background-color: var(--primary-light);
  z-index: 100;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.logo {
  padding: 10px;
}
.ztf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.home {
  padding: 24px;
  transition: all ease-in-out 0.8s;
}
.home path {
  fill: none;
  stroke: var(--Grey);
  stroke-width: 2;
  transition: all ease-in-out 0.8s;
}
.home path:hover {
  fill: var(--Grey);
  stroke: var(--Grey);
  stroke-width: 1;
  transition: all ease-in-out 0.8s;
}
.home:hover {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--lighter-grey);
  transition: all ease-in-out 0.8s;
}
.on-active {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--primary-light-hover);
}
.on-active path {
  fill: var(--primary-normal-active);
  border-radius: 10px;
  stroke: var(--primary-normal-active);
  transition: all ease-in-out 0.8s;
}

.content-view {
  width: 28px;
  height: 28px;
  padding: 24px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none"><path d="M3 7.74872C3 5.67765 4.67893 3.99872 6.75 3.99872H21.25C23.3211 3.99872 25 5.67765 25 7.74872V22.2487C25 24.3198 23.3211 25.9987 21.25 25.9987H6.75C4.67893 25.9987 3 24.3198 3 22.2487V7.74872ZM6.75 5.49872C5.50736 5.49872 4.5 6.50608 4.5 7.74872V22.2487C4.5 23.4914 5.50736 24.4987 6.75 24.4987H16V5.49872H6.75ZM21.25 24.4987C22.4926 24.4987 23.5 23.4914 23.5 22.2487V19.4987H17.5V24.4987H21.25ZM23.5 17.9987V11.9987H17.5V17.9987H23.5ZM23.5 10.4987V7.74872C23.5 6.50608 22.4926 5.49872 21.25 5.49872H17.5V10.4987H23.5ZM7.75 8.49872C7.05964 8.49872 6.5 9.05836 6.5 9.74872V13.2487C6.5 13.9391 7.05964 14.4987 7.75 14.4987H12.75C13.4404 14.4987 14 13.9391 14 13.2487V9.74872C14 9.05836 13.4404 8.49872 12.75 8.49872H7.75ZM8 12.9987V9.99872H12.5V12.9987H8ZM6.5 17.2487C6.5 16.8345 6.83579 16.4987 7.25 16.4987H13.25C13.6642 16.4987 14 16.8345 14 17.2487C14 17.6629 13.6642 17.9987 13.25 17.9987H7.25C6.83579 17.9987 6.5 17.6629 6.5 17.2487ZM7.25 19.9987C6.83579 19.9987 6.5 20.3345 6.5 20.7487C6.5 21.1629 6.83579 21.4987 7.25 21.4987H13.25C13.6642 21.4987 14 21.1629 14 20.7487C14 20.3345 13.6642 19.9987 13.25 19.9987H7.25Z" fill="%234D4959"/></svg>') no-repeat center;
}

 .content-view:hover {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none"><path d="M6.75 3.99872H17V25.9987H6.75C4.67893 25.9987 3 24.3198 3 22.2487V7.74872C3 5.67765 4.67893 3.99872 6.75 3.99872ZM18.5 17.9987V11.9987H25V17.9987H18.5ZM18.5 25.9987V19.4987H25V22.2487C25 24.3198 23.3211 25.9987 21.25 25.9987H18.5ZM18.5 3.99872V10.4987H25V7.74872C25 5.67765 23.3211 3.99872 21.25 3.99872H18.5ZM7.75 8.49872C7.05964 8.49872 6.5 9.05836 6.5 9.74872V13.2487C6.5 13.9391 7.05964 14.4987 7.75 14.4987H12.75C13.4404 14.4987 14 13.9391 14 13.2487V9.74872C14 9.05836 13.4404 8.49872 12.75 8.49872H7.75ZM8 12.9987V9.99872H12.5V12.9987H8ZM6.5 17.2487C6.5 17.6629 6.83579 17.9987 7.25 17.9987H13.25C13.6642 17.9987 14 17.6629 14 17.2487C14 16.8345 13.6642 16.4987 13.25 16.4987H7.25C6.83579 16.4987 6.5 16.8345 6.5 17.2487ZM7.25 19.9987C6.83579 19.9987 6.5 20.3345 6.5 20.7487C6.5 21.1629 6.83579 21.4987 7.25 21.4987H13.25C13.6642 21.4987 14 21.1629 14 20.7487C14 20.3345 13.6642 19.9987 13.25 19.9987H7.25Z" fill="%234D4959"/></svg>') no-repeat center;
  border-radius: 10px;
  transition: all ease-in-out 0.8s;
  padding: 24px;
  background-color: var(--lighter-grey);
} 
.raa-container {
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.settings {
  width: 28px;
  height: 28px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none"><path d="M14 10.4988C11.5147 10.4988 9.5 12.5135 9.5 14.9988C9.5 17.4841 11.5147 19.4988 14 19.4988C15.3488 19.4988 16.559 18.9054 17.3838 17.9653C18.0787 17.1733 18.5 16.1352 18.5 14.9988C18.5 14.5388 18.431 14.095 18.3028 13.6771C17.7382 11.8368 16.0253 10.4988 14 10.4988ZM11 14.9988C11 13.3419 12.3431 11.9988 14 11.9988C15.6569 11.9988 17 13.3419 17 14.9988C17 16.6556 15.6569 17.9988 14 17.9988C12.3431 17.9988 11 16.6556 11 14.9988ZM21.7093 23.3935L19.9818 22.6351C19.4876 22.4184 18.9071 22.4502 18.44 22.7206C17.9729 22.9911 17.675 23.468 17.6157 24.0053L17.408 25.8843C17.3651 26.2717 17.084 26.5904 16.7055 26.6807C14.9263 27.1048 13.0725 27.1048 11.2933 26.6807C10.9148 26.5904 10.6336 26.2717 10.5908 25.8843L10.3834 24.008C10.3225 23.4718 10.0112 22.9963 9.54452 22.7268C9.07783 22.4573 8.51117 22.4257 8.01859 22.6411L6.29071 23.3996C5.93281 23.5567 5.51493 23.4706 5.24806 23.1846C4.00474 21.8523 3.07924 20.2549 2.54122 18.5124C2.42533 18.1371 2.55922 17.7294 2.8749 17.4964L4.40219 16.3691C4.83721 16.0488 5.09414 15.5402 5.09414 14.9994C5.09414 14.4585 4.83721 13.9499 4.40162 13.6293L2.87529 12.5038C2.55914 12.2707 2.42513 11.8625 2.54142 11.4869C3.08038 9.74606 4.00637 8.15035 5.24971 6.81986C5.51684 6.534 5.93492 6.44813 6.29276 6.60563L8.01296 7.36276C8.50793 7.5804 9.07696 7.54752 9.54617 7.27287C10.0133 7.00136 10.3244 6.52398 10.3844 5.98665L10.5933 4.10889C10.637 3.71675 10.9245 3.39575 11.3089 3.31009C12.19 3.11376 13.0891 3.00943 14.0131 2.99878C14.9147 3.00919 15.8128 3.11356 16.6928 3.31021C17.077 3.39605 17.3643 3.71695 17.4079 4.10889L17.617 5.98809C17.7116 6.85092 18.4387 7.50444 19.3055 7.50535C19.5385 7.50572 19.769 7.4571 19.9843 7.36166L21.7048 6.6044C22.0626 6.4469 22.4807 6.53277 22.7478 6.81862C23.9912 8.14912 24.9172 9.74483 25.4561 11.4857C25.5723 11.8611 25.4386 12.269 25.1228 12.5022L23.5978 13.6285C23.1628 13.9487 22.9 14.4573 22.9 14.9981C22.9 15.539 23.1628 16.0476 23.5988 16.3685L25.1251 17.4952C25.441 17.7283 25.5748 18.1363 25.4586 18.5118C24.9198 20.2523 23.9944 21.8479 22.7517 23.1786C22.4849 23.4644 22.0671 23.5505 21.7093 23.3935ZM16.263 23.1953C16.4982 22.4672 16.9889 21.8276 17.6884 21.4226C18.5702 20.912 19.6536 20.8534 20.5841 21.2614L21.9281 21.8514C22.791 20.8525 23.4593 19.7 23.8981 18.4539L22.7095 17.5765L22.7086 17.5758C21.898 16.9787 21.4 16.0264 21.4 14.9981C21.4 13.9706 21.8974 13.0182 22.7073 12.4214L22.7085 12.4205L23.8957 11.5437C23.4567 10.2975 22.7881 9.14508 21.9248 8.14642L20.5922 8.73297L20.5899 8.73399C20.1844 8.91335 19.7472 9.00594 19.3039 9.00535C17.6715 9.00325 16.3046 7.77303 16.1261 6.15337L16.1259 6.15163L15.9635 4.69176C15.3202 4.572 14.6677 4.50744 14.013 4.49889C13.3389 4.50763 12.6821 4.57239 12.0377 4.692L11.8751 6.15324C11.7625 7.16144 11.1793 8.0578 10.3019 8.56858C9.41937 9.08432 8.34453 9.14715 7.40869 8.73566L6.07273 8.14765C5.20949 9.14623 4.54092 10.2986 4.10196 11.5447L5.29181 12.422C6.11115 13.0256 6.59414 13.9824 6.59414 14.9994C6.59414 16.016 6.11142 16.973 5.29237 17.5764L4.10161 18.4553C4.54002 19.7031 5.2085 20.8572 6.07205 21.8575L7.41742 21.2669C8.34745 20.86 9.41573 20.9202 10.2947 21.4279C11.174 21.9357 11.7593 22.8307 11.8738 23.8388L11.8744 23.8433L12.0362 25.3075C13.3326 25.5625 14.6662 25.5625 15.9626 25.3075L16.1247 23.8405C16.1491 23.6204 16.1955 23.4042 16.263 23.1953Z" fill="%234D4959"/></svg>') no-repeat center;
  padding: 24px;
  transition: all ease-in-out 0.8s;
}


.settings:hover {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none"><path d="M16.6928 3.31015C15.8128 3.1135 14.9147 3.00913 14.0131 2.99872C13.0891 3.00937 12.19 3.1137 11.3089 3.31003C10.9245 3.39569 10.637 3.71669 10.5933 4.10883L10.3844 5.98659C10.3244 6.52392 10.0133 7.0013 9.54617 7.27281C9.07696 7.54746 8.50793 7.58034 8.01296 7.3627L6.29276 6.60557C5.93492 6.44807 5.51684 6.53394 5.24971 6.81979C4.00637 8.15029 3.08038 9.746 2.54142 11.4868C2.42513 11.8625 2.55914 12.2707 2.87529 12.5038L4.40162 13.6292C4.83721 13.9499 5.09414 14.4584 5.09414 14.9993C5.09414 15.5402 4.83721 16.0487 4.40219 16.369L2.8749 17.4964C2.55922 17.7294 2.42533 18.137 2.54122 18.5124C3.07924 20.2548 4.00474 21.8523 5.24806 23.1845C5.51493 23.4705 5.93281 23.5567 6.29071 23.3996L8.01859 22.6411C8.51117 22.4256 9.07783 22.4572 9.54452 22.7267C10.0112 22.9963 10.3225 23.4717 10.3834 24.008L10.5908 25.8842C10.6336 26.2717 10.9148 26.5904 11.2933 26.6806C13.0725 27.1048 14.9263 27.1048 16.7055 26.6806C17.084 26.5904 17.3651 26.2717 17.408 25.8842L17.6157 24.0052C17.675 23.4679 17.9858 22.991 18.4529 22.7206C18.92 22.4501 19.4876 22.4184 19.9818 22.6351L21.7093 23.3934C22.0671 23.5505 22.4849 23.4644 22.7517 23.1786C23.9944 21.8479 24.9198 20.2523 25.4586 18.5117C25.5748 18.1363 25.441 17.7283 25.1251 17.4951L23.5988 16.3685C23.1628 16.0475 22.9059 15.5389 22.9059 14.9981C22.9059 14.4572 23.1628 13.9486 23.5978 13.6284L25.1228 12.5021C25.4386 12.2689 25.5723 11.861 25.4561 11.4856C24.9172 9.74477 23.9912 8.14906 22.7478 6.81856C22.4807 6.53271 22.0626 6.44684 21.7048 6.60434L19.9843 7.3616C19.769 7.45704 19.5385 7.50566 19.3055 7.50529C18.4387 7.50438 17.7116 6.85086 17.617 5.98803L17.4079 4.10883C17.3643 3.71689 17.077 3.39599 16.6928 3.31015ZM14 18.9987C11.7909 18.9987 10 17.2079 10 14.9987C10 12.7896 11.7909 10.9987 14 10.9987C16.2091 10.9987 18 12.7896 18 14.9987C18 17.2079 16.2091 18.9987 14 18.9987Z" fill="%234D4959"/></svg>') no-repeat center;
  border-radius: 10px;
  padding: 24px;
  background-color: var(--lighter-grey);
  transition: all ease-in-out 0.8s;
}
.settings-clicked {
  padding: 24px;
  width: 28px;
  height: 28px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none"><path d="M16.6928 3.31015C15.8128 3.1135 14.9147 3.00913 14.0131 2.99872C13.0891 3.00937 12.19 3.1137 11.3089 3.31003C10.9245 3.39569 10.637 3.71669 10.5933 4.10883L10.3844 5.98659C10.3244 6.52392 10.0133 7.0013 9.54617 7.27281C9.07696 7.54746 8.50793 7.58034 8.01296 7.3627L6.29276 6.60557C5.93492 6.44807 5.51684 6.53394 5.24971 6.81979C4.00637 8.15029 3.08038 9.746 2.54142 11.4868C2.42513 11.8625 2.55914 12.2707 2.87529 12.5038L4.40162 13.6292C4.83721 13.9499 5.09414 14.4584 5.09414 14.9993C5.09414 15.5402 4.83721 16.0487 4.40219 16.369L2.8749 17.4964C2.55922 17.7294 2.42533 18.137 2.54122 18.5124C3.07924 20.2548 4.00474 21.8523 5.24806 23.1845C5.51493 23.4705 5.93281 23.5567 6.29071 23.3996L8.01859 22.6411C8.51117 22.4256 9.07783 22.4572 9.54452 22.7267C10.0112 22.9963 10.3225 23.4717 10.3834 24.008L10.5908 25.8842C10.6336 26.2717 10.9148 26.5904 11.2933 26.6806C13.0725 27.1048 14.9263 27.1048 16.7055 26.6806C17.084 26.5904 17.3651 26.2717 17.408 25.8842L17.6157 24.0052C17.675 23.4679 17.9858 22.991 18.4529 22.7206C18.92 22.4501 19.4876 22.4184 19.9818 22.6351L21.7093 23.3934C22.0671 23.5505 22.4849 23.4644 22.7517 23.1786C23.9944 21.8479 24.9198 20.2523 25.4586 18.5117C25.5748 18.1363 25.441 17.7283 25.1251 17.4951L23.5988 16.3685C23.1628 16.0475 22.9059 15.5389 22.9059 14.9981C22.9059 14.4572 23.1628 13.9486 23.5978 13.6284L25.1228 12.5021C25.4386 12.2689 25.5723 11.861 25.4561 11.4856C24.9172 9.74477 23.9912 8.14906 22.7478 6.81856C22.4807 6.53271 22.0626 6.44684 21.7048 6.60434L19.9843 7.3616C19.769 7.45704 19.5385 7.50566 19.3055 7.50529C18.4387 7.50438 17.7116 6.85086 17.617 5.98803L17.4079 4.10883C17.3643 3.71689 17.077 3.39599 16.6928 3.31015ZM14 18.9987C11.7909 18.9987 10 17.2079 10 14.9987C10 12.7896 11.7909 10.9987 14 10.9987C16.2091 10.9987 18 12.7896 18 14.9987C18 17.2079 16.2091 18.9987 14 18.9987Z" fill="%235E3EBA"/></svg>')no-repeat center ;
  transition: all ease-in-out 0.8s;
  border-radius: 10px;
  background-color: var(--primary-light-hover);
}
.out-sign {
  padding: 24px;
}

.out-sign path {
  padding: 24px;
  fill: var(--Grey);
  stroke-width: 2;
  transition: all ease-in-out 0.8s;
}

.out-sign:hover {
  border-radius: 10px;
  padding: 24px;
  background-color: var(--lighter-grey);
  transition: all ease-in-out 0.8s;
}


@media only screen and (max-width: 480px) {
  .side--nav{
    display: flex;
    width: 15px;
    height: 0px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><path d="M4.375 12.25C4.14294 12.25 3.92038 12.1578 3.75628 11.9937C3.59219 11.8296 3.5 11.6071 3.5 11.375V4.37674C3.5 4.14468 3.59219 3.92212 3.75628 3.75802C3.92038 3.59393 4.14294 3.50174 4.375 3.50174H11.375C11.6071 3.50174 11.8296 3.59393 11.9937 3.75802C12.1578 3.92212 12.25 4.14468 12.25 4.37674V11.375C12.25 11.6071 12.1578 11.8296 11.9937 11.9937C11.8296 12.1578 11.6071 12.25 11.375 12.25H4.375ZM16.625 12.25C16.3929 12.25 16.1704 12.1578 16.0063 11.9937C15.8422 11.8296 15.75 11.6071 15.75 11.375V4.37674C15.75 4.14468 15.8422 3.92212 16.0063 3.75802C16.1704 3.59393 16.3929 3.50174 16.625 3.50174H23.6232C23.8553 3.50174 24.0779 3.59393 24.242 3.75802C24.4061 3.92212 24.4982 4.14468 24.4982 4.37674V11.375C24.4982 11.6071 24.4061 11.8296 24.242 11.9937C24.0779 12.1578 23.8553 12.25 23.6232 12.25H16.625ZM4.375 24.5C4.14294 24.5 3.92038 24.4078 3.75628 24.2437C3.59219 24.0796 3.5 23.8571 3.5 23.625V16.625C3.5 16.3929 3.59219 16.1704 3.75628 16.0063C3.92038 15.8422 4.14294 15.75 4.375 15.75H11.375C11.6071 15.75 11.8296 15.8422 11.9937 16.0063C12.1578 16.1704 12.25 16.3929 12.25 16.625V23.625C12.25 23.8571 12.1578 24.0796 11.9937 24.2437C11.8296 24.4078 11.6071 24.5 11.375 24.5H4.375ZM16.625 24.5C16.3929 24.5 16.1704 24.4078 16.0063 24.2437C15.8422 24.0796 15.75 23.8571 15.75 23.625V16.625C15.75 16.3929 15.8422 16.1704 16.0063 16.0063C16.1704 15.8422 16.3929 15.75 16.625 15.75H23.6232C23.8553 15.75 24.0779 15.8422 24.242 16.0063C24.4061 16.1704 24.4982 16.3929 24.4982 16.625V23.625C24.4982 23.8571 24.4061 24.0796 24.242 24.2437C24.0779 24.4078 23.8553 24.5 23.6232 24.5H16.625Z" fill="%234D4959"/></svg>') no-repeat center,rgba(255, 255, 255, 0.50);
    border-radius: 12px;
    position: absolute;
    top: 1.5%;
    left: 5%;
    transform: translate(-5, -1.5%);

    backdrop-filter: blur(10px)
  }
  .content-view{
    display: none;
  }
  .home{
    display: none;
  }
  .logo{
    display: none;
  }
  .logo-container{
    display: none;
  }
  .out-sign{
    display: none;
  }
  .raa-container{
    display: none;
  }
}